@page "/fetchdata"

@using Project_S_Server.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <TableTemplate _items="forecasts" T_Item="WeatherForecast">
        <_header>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </_header>
        <_row Context="fc">
            <td>@fc.Date.ToShortDateString()</td>
            <td>@fc.TemperatureC</td>
            <td>@fc.TemperatureF</td>
            <td>@fc.Summary</td>
        </_row>
    </TableTemplate>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
